<ion-view title="search_address" hide-nav-bar="true" id="page4" style="background-color:#3B6E74;">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <h3 id="search_address-heading3" style="color:#FFFFFF;text-align:center;">Drift</h3>
        <ion-list id="search_address-list5">
          <div>Welcome {{ user.first_name }}!</div>
            <ion-item class="item-avatar" id="search_address-list-item4">
                <img src="img/5Hu9j8PDQsuINal4cXO7_Emmanuel_hack.jpg">
                <h2>Mannie</h2>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 88px;"></div>
        <form id="search_address-form12" class="list">
            <label class="item item-input" id="search_address-input18">
                <input type="text" placeholder="100 E. Calvier Street, CA">
            </label>
            <div id="search_address-button-bar1" class="button-bar">
                <a ui-sref="social_drift" id="search_address-button13" style="font-size:20px;" class="button button-positive  button-block">Drift</a>
            </div>
        </form>
      <a href="login" ua-logout>Log Out</a>
    </ion-content>
</ion-view>
